.App{
    position: relative;
    min-height:1000px;
    background: #1C1C1C;
}

header{
    position: absolute;
    height: 62px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: #EA8B8B;
}

#mainContent{
    position: absolute;
    width: 1000px;
    height: 821px;
    left: calc(50% - 1440px/2);
    top: 62px;
}

#Liked{
    position: absolute;
    width: 120px;
    height: 62px;
    left: 0px;
    top: 0px;
    
    font-family: Metropolis Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-indent: 24px;
    
    color: #FFFFFF;
    cursor: pointer;
}
#Bookmark{
    position: absolute;
    width: 146px;
    height: 38px;
    left: 208px;
    top: 630px;
    cursor: pointer;
}
#Like{
    position: absolute;
    width: 93px;
    height: 38px;
    left: 99px;
    top: 630px;
    cursor: pointer;
}

#LB{
    position: absolute;
    left: 0%;
    right: 0%;
    height: 900px;
    top: 62px;
    background: #1C1C1C;
}
#LColor{
    position: absolute;
    width: 93px;
    height: 38px;
    left: 99px;
    top: 630px;
    
    background: rgba(240, 101, 101, 0.88);
    border-radius: 8px;
}
#BColor{
    position: absolute;
    width: 146px;
    height: 38px;
    left: 208px;
    top: 630px;

    background: #0094E7;
    border-radius:13px;
}